.overskrift {
    text-align: center;
}

.navbardesign {
    text-align: center;
    background-color: orange;
    font-weight: bold;
    padding: 7px;
}


.meny-siden {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff5e6;
}

.meny-siden h2 {
    text-align: center;
}

.meny-siden p {
    text-align: center;
}

.meny-listen {
    list-style-type: none;
    padding: 0;
}

.meny-dag {
    background-color: #fff5e6;
    margin: 8px;
    padding: 10px;
    border-left: 5px solid orange;
}


.nederstetekst {
    text-align: center;
    max-width: 1330px;
    margin: 200px auto;
    padding: 100px;
    background-color: #fff5e6;
    color: black;
    border-radius: 10px;
   
}

.varer-siden {
    text-align: center;
    margin: 20px;
}

.varer-boks {
    background-color: rgba(255, 165, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
    width: 150px;
    margin: 100px;
    text-align: center;
    margin-left: 30px;
    margin-top: 40px;
}
