<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
{% extends "base.html" %}
 
{% block content %}


<div class="dame-bilde">
    <img src="/static/images/1-d989ffe6-removebg-preview.png" alt="">
    <h1 class="velkommen">Velkommen</h1>
    <h2 class="til">Til</h2>
    <h3 class="oss">Oss</h3>
</div>


{% endblock %}



</html> 

