<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
{% extends "base.html" %}
 
{% block content %}

<div class="hjemmeside-overskrift">
<h1>Velkommen til Akademiets Kantinenettside</h1>
</div>

<div class="hjemmeside-velkommentekst">
<p>Her kan du se ukens meny, finne informasjon om faste varer som bagetter, boller og drikke, og kontakte <br>
kantina hvis du har spørsmål eller ønsker å gi tilbakemeldinger. Nettsiden gir en enkel og oversiktig måte <br>
å holde seg oppdatert på hva som serveres, og hjelper deg med å plannlege lunjsen hjemme ifra.</p>
</div>



{% endblock %}
</body>
</html> 

