<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
{% extends "base.html" %}
{% block content %}

<div class="kontakt-siden">
    <main>
        <h2>Kontakt oss</h2>
        <p>Her kan du kontakte Akademiets kantine:</p>
        <p>Telefon: 901 90 254</p>
        <p>E-post: akakantine@akademiet.no</p>
        <p>Har du tilbakemeldinger eller ønsker for menyen? 
        Send oss gjerne en melding eller e-post vi setter stor pris på dine forslag!</p>
    </main>
</div>
    
{% endblock %}

    
</body>
</html>

