<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title></title>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}
 
    <div class="meny-siden">
    <main>
        <h2>Ukens meny</h2>
        <p>Her kan du se hva kantina serverer denne uken:</p>
        <ul class="meny-listen">
            {% for dag in ukens_meny %}
            <li class="meny-dag">{{ dag }}</li>
            {% endfor %}
        </ul>
    </main> 
    </div>
  {% endblock %}    
</body>

</html>